@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    /* background: var(--dark-bg); */
    grid-column: 2 / span 4;
    font-size: 2.5rem;
    padding: 1rem;
    margin-bottom: var(--spacing);

  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }



  /*icons */
  /* @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
  body {
    background-color: rgba(0, 181, 245, 0.05);
 } */
  .social-container {
    width: 400px;
    margin: 40vh auto;
    text-align: center;
 }
  .social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
 }
  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
 }
  .social-icons i {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
 }
  .social-icons a {
    display: inline-block;
 }
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
    transition: all 265ms ease-out;
 }
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
 }
  .social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #00b5f5;
    background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
 }
  